@tailwind base;
@tailwind components;
@tailwind utilities;

.rce-message-list {
  background-color: transparent;
}

.rce-mbox {
  border-radius: 16px !important;
}

.rce-mbox-left .rce-mbox {
  background: #ffffff !important;
  color: #111827 !important;
  border: 1px solid #e5e7eb !important;
  box-shadow: 0 2px 6px rgba(17, 24, 39, 0.06) !important;
}

.rce-mbox-left .rce-mbox-time {
  color: #9ca3af !important;
}

.rce-mbox-left-notch,
.rce-mbox .rce-mbox-left-notch {
  border-right-color: #ffffff !important;
}

.rce-mbox-right .rce-mbox {
  background: #2b2f3a !important;
  color: #000 !important;
  border: 1px solid #2b2f3a !important;
  box-shadow: 0 4px 12px rgba(17, 24, 39, 0.18) !important;
}

.rce-mbox-right .rce-mbox-time {
  color: #d1d5db !important;
}

.rce-mbox-right .rce-mbox-text,
.rce-mbox-right .rce-mbox-title {
  color: #000 !important;
}

.rce-mbox-right-notch,
.rce-mbox .rce-mbox-right-notch {
  border-left-color: #2b2f3a !important;
}

button[data-suggested] {
  background: #ffffff;
  color: #374151;
  border: 1px solid #e5e7eb;
}


@font-face {
  font-family: "Gelica";
  src: url("/fonts/Fontspring-DEMO-gelica-bold.otf") format("opentype");
  font-weight: 700;
  /* Bold */
  font-style: normal;
  font-display: swap;
}

/* Product Sans (khai báo ĐÚNG family) */
@font-face {
  font-family: "Product Sans";
  src: url("/fonts/ProductSans-Regular.ttf") format("truetype");
  /* hoặc .ttf -> format("truetype") */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("/fonts/ProductSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}